.homepage, .homepage * {
  box-sizing: border-box;
}
.homepage {
  background: var(--lightmode-white-100, #ffffff);
  border-radius: 40px;
	height: 830px;
	width:375px;
  position: absolute;
  position: relative;
  overflow: hidden;
  left: 45%;
  right:50%;
}
body {
	font-family: Arial, sans-serif;
}
header {
	display: flex;
	justify-content: space-between;
  padding: auto;
	align-items: center;
	background-color: #333;
	padding: 10px 20px;
}
.logo {
height: 50px;
width: 15px;
margin-top: 10%;
margin-bottom: 5px;
}
.search-bar {
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;

}
.search-bar input {
	flex: 1;
	padding: 5px;
	border: none;
  margin-right:10px ;
}
.search-bar button {
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  margin-right:10px;
}
.banner {
height: 0px;
color: black;
display:flex;
justify-content: center;
margin-top: 5%;

text-decoration: solid;
}


.Hero-Image{
  margin-top: 10px;
  display:flex;
  margin-left: 28.66px;
  height: 130px;
  }

.live-chat {
	display: flex;
	align-items: center;
	color: #fff;
}

.live-chat img {
	height: 20px;
	margin-right: 5px;
}


.product-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
}

.product-list h2 {
	margin-bottom: 20px;
}

.product-list ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.product-list li {
	flex: 1 1 250px;
	margin: 10px;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}

.product-list li:hover {
	transform: translateY(-5px);
}

.product-list img {
	width: 100%;
	height: auto;
}

.product-list a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 10px;
}

.product-list a:hover {
	background-color: #ddd;
}

.TableCards {
display: flex; 
overflow-x: auto; }

.product-card,
.product-card * {
  box-sizing: border-box;
}
.product-card {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.83);
  border-width: .5px 0.5px .5px .5px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  justify-content: flex-start;
  height: 190px;
  position: relative;
  box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.25);
  width:110px;
}
.image-holder2{
  border-radius: none ;
  border-style: solid;
  
  
}



.details {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 130px;
  position: relative;
}
.image-holder {
  border-radius: 7.27px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 130px;
  height: 103px;
  position: relative;
  object-fit: fit;
}
.product-details {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 103px;
  position: relative;
}
.product-name {
  display: flex;
  flex-direction: row;
  gap: 12.04px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.panadole {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16.848403930664062px;
  font-weight: 600;
  position: relative;
  
}
.icon {
  flex-shrink: 0;
  width: 12.73px;
  height: 22px;
  position: relative;
  overflow: visible;
  color: black;
}
.panadole-is-good-for-pain-relieving {
  margin-left: 15px;
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  width: 103px;
  height: 28px;
}
.CallToAction {
  margin-top: 30px;	
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 103px;
  position: relative;
}
._9-99 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  background: linear-gradient(
    180deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 4.8px;
  padding: 4.5px 0px 4.5px 0px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  position: relative;
}
.add {
  color: var(--lightmode-white-100, #ffffff);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8.397686004638672px;
  font-weight: 600;
  position: relative;
}

/*Line Separator between Banner and Hero Image*/
.separator,
.separator * {
  box-sizing: border-box;
  margin-top: 10px;
  
}
.separator {
  height: 1px;
  position: relative;
}
.line {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: -10px;
  top: -10px;
}
.rectangle-395 {
  background: var(--lightmode-white-80, #eeeeee);
  border-radius: 40px;
  flex-shrink: 0;
  width: 375px;
  height: 1px;
  position: relative;
}
/*End of Line Separator between Banner and Hero Image*/
